.cardItem {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imgWrap {
  position: relative;
  width: 100%;
  aspect-ratio: 276 / 268;
  overflow: hidden;
  border-radius: 14px;
  margin-bottom: 16px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: ease 0.7s;
}

.imgWrap:hover {
  transform: scale(1.05);
}

.titleRow {
  display: flex;
  margin-bottom: 8px;
  align-items: baseline;
  gap: 12px;
}

.cardTitle {
  flex: 1;
  min-width: 0;
  font-weight: 500;
  line-height: 1.25;
  font-size: 16px;
}

.cardModel {
  color: var(--light-blue);
}

.cardPrice {
  font-weight: 500;
  line-height: 1.25;
  flex-shrink: 0;
}

.cardDescription {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px 0;
  margin: 0 0 32px;
  color: var(--gray);
  font-size: 12px;
  line-height: 1.33;
  max-width: 92%;
}

.cardDescription span:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 16px;
  margin: 0 6px;
  background-color: var(--gray-light);
  vertical-align: bottom;
}

.cardBtn {
  text-align: center;
  font-weight: 600;
  line-height: 1.25;
  color: var(--white);
  border-radius: 12px;
  padding: 12px 32px;
  width: 100%;
  background-color: var(--light-blue);
  margin-top: auto;
  transition: background-color 0.2s;
}

.cardBtn:hover {
  background-color: var(--dark-blue);
}
