.form {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 32px;
  background-color: var(--white);
}

.form h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.form p {
  font-weight: 500;
  line-height: 1.25;
  color: var(--gray);
  margin-bottom: 24px;
}

.form input {
  margin-bottom: 16px;
}

.form textarea {
  margin-bottom: 24px;
}

.form input,
.form textarea {
  background-color: var(--inputs);
  border: 1px solid transparent;
  border-radius: 12px;
  padding: 13px 20px;
  font-weight: 500;
  line-height: 1.25;
}

.form input[aria-invalid='true'],
.form textarea[aria-invalid='true'] {
  border-color: var(--light-blue);
}

.error {
  color: #c00;
  font-size: 12px;
}

.form button {
  align-self: center;
  background: var(--light-blue);
  color: var(--white);
  padding: 12px 48px;
  border-radius: 12px;
  font-weight: 600;
  transition: background-color 0.2s;
  width: 100%;
}

.form button:hover:not(:disabled) {
  background-color: var(--dark-blue);
}

.form button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
